@font-face
  font-family: 'sceoIcon'
  src: url('sceoIcon.eot')
  src: url('sceoIcon.eot') format('embedded-opentype'),
    url('sceoIcon.ttf') format('truetype'),
    url('sceoIcon.woff') format('woff'),
    url('sceoIcon.svg') format('svg')
  font-weight: normal
  font-style: normal

[class^="sceoIcon-"], [class*=" sceoIcon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sceoIcon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.sceoIcon-home:before
  content: "\e900"

.sceoIcon-home2:before
  content: "\e901"

.sceoIcon-home3:before
  content: "\e902"

.sceoIcon-office:before
  content: "\e903"

.sceoIcon-newspaper:before
  content: "\e904"

.sceoIcon-pencil:before
  content: "\e905"

.sceoIcon-pencil2:before
  content: "\e906"

.sceoIcon-quill:before
  content: "\e907"

.sceoIcon-pen:before
  content: "\e908"

.sceoIcon-blog:before
  content: "\e909"

.sceoIcon-eyedropper:before
  content: "\e90a"

.sceoIcon-droplet:before
  content: "\e90b"

.sceoIcon-paint-format:before
  content: "\e90c"

.sceoIcon-image:before
  content: "\e90d"

.sceoIcon-images:before
  content: "\e90e"

.sceoIcon-camera:before
  content: "\e90f"

.sceoIcon-headphones:before
  content: "\e910"

.sceoIcon-music:before
  content: "\e911"

.sceoIcon-play:before
  content: "\e912"

.sceoIcon-film:before
  content: "\e913"

.sceoIcon-video-camera:before
  content: "\e914"

.sceoIcon-dice:before
  content: "\e915"

.sceoIcon-pacman:before
  content: "\e916"

.sceoIcon-spades:before
  content: "\e917"

.sceoIcon-clubs:before
  content: "\e918"

.sceoIcon-diamonds:before
  content: "\e919"

.sceoIcon-bullhorn:before
  content: "\e91a"

.sceoIcon-connection:before
  content: "\e91b"

.sceoIcon-podcast:before
  content: "\e91c"

.sceoIcon-feed:before
  content: "\e91d"

.sceoIcon-mic:before
  content: "\e91e"

.sceoIcon-book:before
  content: "\e91f"

.sceoIcon-books:before
  content: "\e920"

.sceoIcon-library:before
  content: "\e921"

.sceoIcon-file-text:before
  content: "\e922"

.sceoIcon-profile:before
  content: "\e923"

.sceoIcon-file-empty:before
  content: "\e924"

.sceoIcon-files-empty:before
  content: "\e925"

.sceoIcon-file-text2:before
  content: "\e926"

.sceoIcon-file-picture:before
  content: "\e927"

.sceoIcon-file-music:before
  content: "\e928"

.sceoIcon-file-play:before
  content: "\e929"

.sceoIcon-file-video:before
  content: "\e92a"

.sceoIcon-file-zip:before
  content: "\e92b"

.sceoIcon-copy:before
  content: "\e92c"

.sceoIcon-paste:before
  content: "\e92d"

.sceoIcon-stack:before
  content: "\e92e"

.sceoIcon-folder:before
  content: "\e92f"

.sceoIcon-folder-open:before
  content: "\e930"

.sceoIcon-folder-plus:before
  content: "\e931"

.sceoIcon-folder-minus:before
  content: "\e932"

.sceoIcon-folder-download:before
  content: "\e933"

.sceoIcon-folder-upload:before
  content: "\e934"

.sceoIcon-price-tag:before
  content: "\e935"

.sceoIcon-price-tags:before
  content: "\e936"

.sceoIcon-barcode:before
  content: "\e937"

.sceoIcon-qrcode:before
  content: "\e938"

.sceoIcon-ticket:before
  content: "\e939"

.sceoIcon-cart:before
  content: "\e93a"

.sceoIcon-coin-dollar:before
  content: "\e93b"

.sceoIcon-coin-euro:before
  content: "\e93c"

.sceoIcon-coin-pound:before
  content: "\e93d"

.sceoIcon-coin-yen:before
  content: "\e93e"

.sceoIcon-credit-card:before
  content: "\e93f"

.sceoIcon-calculator:before
  content: "\e940"

.sceoIcon-lifebuoy:before
  content: "\e941"

.sceoIcon-phone:before
  content: "\e942"

.sceoIcon-phone-hang-up:before
  content: "\e943"

.sceoIcon-address-book:before
  content: "\e944"

.sceoIcon-envelop:before
  content: "\e945"

.sceoIcon-pushpin:before
  content: "\e946"

.sceoIcon-location:before
  content: "\e947"

.sceoIcon-location2:before
  content: "\e948"

.sceoIcon-compass:before
  content: "\e949"

.sceoIcon-compass2:before
  content: "\e94a"

.sceoIcon-map:before
  content: "\e94b"

.sceoIcon-map2:before
  content: "\e94c"

.sceoIcon-history:before
  content: "\e94d"

.sceoIcon-clock:before
  content: "\e94e"

.sceoIcon-clock2:before
  content: "\e94f"

.sceoIcon-alarm:before
  content: "\e950"

.sceoIcon-bell:before
  content: "\e951"

.sceoIcon-stopwatch:before
  content: "\e952"

.sceoIcon-calendar:before
  content: "\e953"

.sceoIcon-printer:before
  content: "\e954"

.sceoIcon-keyboard:before
  content: "\e955"

.sceoIcon-display:before
  content: "\e956"

.sceoIcon-laptop:before
  content: "\e957"

.sceoIcon-mobile:before
  content: "\e958"

.sceoIcon-mobile2:before
  content: "\e959"

.sceoIcon-tablet:before
  content: "\e95a"

.sceoIcon-tv:before
  content: "\e95b"

.sceoIcon-drawer:before
  content: "\e95c"

.sceoIcon-drawer2:before
  content: "\e95d"

.sceoIcon-box-add:before
  content: "\e95e"

.sceoIcon-box-remove:before
  content: "\e95f"

.sceoIcon-download:before
  content: "\e960"

.sceoIcon-upload:before
  content: "\e961"

.sceoIcon-floppy-disk:before
  content: "\e962"

.sceoIcon-drive:before
  content: "\e963"

.sceoIcon-database:before
  content: "\e964"

.sceoIcon-undo:before
  content: "\e965"

.sceoIcon-redo:before
  content: "\e966"

.sceoIcon-undo2:before
  content: "\e967"

.sceoIcon-redo2:before
  content: "\e968"

.sceoIcon-forward:before
  content: "\e969"

.sceoIcon-reply:before
  content: "\e96a"

.sceoIcon-bubble:before
  content: "\e96b"

.sceoIcon-bubbles:before
  content: "\e96c"

.sceoIcon-bubbles2:before
  content: "\e96d"

.sceoIcon-bubble2:before
  content: "\e96e"

.sceoIcon-bubbles3:before
  content: "\e96f"

.sceoIcon-bubbles4:before
  content: "\e970"

.sceoIcon-user:before
  content: "\e971"

.sceoIcon-users:before
  content: "\e972"

.sceoIcon-user-plus:before
  content: "\e973"

.sceoIcon-user-minus:before
  content: "\e974"

.sceoIcon-user-check:before
  content: "\e975"

.sceoIcon-user-tie:before
  content: "\e976"

.sceoIcon-quotes-left:before
  content: "\e977"

.sceoIcon-quotes-right:before
  content: "\e978"

.sceoIcon-hour-glass:before
  content: "\e979"

.sceoIcon-spinner:before
  content: "\e97a"

.sceoIcon-spinner2:before
  content: "\e97b"

.sceoIcon-spinner3:before
  content: "\e97c"

.sceoIcon-spinner4:before
  content: "\e97d"

.sceoIcon-spinner5:before
  content: "\e97e"

.sceoIcon-spinner6:before
  content: "\e97f"

.sceoIcon-spinner7:before
  content: "\e980"

.sceoIcon-spinner8:before
  content: "\e981"

.sceoIcon-spinner9:before
  content: "\e982"

.sceoIcon-spinner10:before
  content: "\e983"

.sceoIcon-spinner11:before
  content: "\e984"

.sceoIcon-binoculars:before
  content: "\e985"

.sceoIcon-search:before
  content: "\e986"

.sceoIcon-zoom-in:before
  content: "\e987"

.sceoIcon-zoom-out:before
  content: "\e988"

.sceoIcon-enlarge:before
  content: "\e989"

.sceoIcon-shrink:before
  content: "\e98a"

.sceoIcon-enlarge2:before
  content: "\e98b"

.sceoIcon-shrink2:before
  content: "\e98c"

.sceoIcon-key:before
  content: "\e98d"

.sceoIcon-key2:before
  content: "\e98e"

.sceoIcon-lock:before
  content: "\e98f"

.sceoIcon-unlocked:before
  content: "\e990"

.sceoIcon-wrench:before
  content: "\e991"

.sceoIcon-equalizer:before
  content: "\e992"

.sceoIcon-equalizer2:before
  content: "\e993"

.sceoIcon-cog:before
  content: "\e994"

.sceoIcon-cogs:before
  content: "\e995"

.sceoIcon-hammer:before
  content: "\e996"

.sceoIcon-magic-wand:before
  content: "\e997"

.sceoIcon-aid-kit:before
  content: "\e998"

.sceoIcon-bug:before
  content: "\e999"

.sceoIcon-pie-chart:before
  content: "\e99a"

.sceoIcon-stats-dots:before
  content: "\e99b"

.sceoIcon-stats-bars:before
  content: "\e99c"

.sceoIcon-stats-bars2:before
  content: "\e99d"

.sceoIcon-trophy:before
  content: "\e99e"

.sceoIcon-gift:before
  content: "\e99f"

.sceoIcon-glass:before
  content: "\e9a0"

.sceoIcon-glass2:before
  content: "\e9a1"

.sceoIcon-mug:before
  content: "\e9a2"

.sceoIcon-spoon-knife:before
  content: "\e9a3"

.sceoIcon-leaf:before
  content: "\e9a4"

.sceoIcon-rocket:before
  content: "\e9a5"

.sceoIcon-meter:before
  content: "\e9a6"

.sceoIcon-meter2:before
  content: "\e9a7"

.sceoIcon-hammer2:before
  content: "\e9a8"

.sceoIcon-fire:before
  content: "\e9a9"

.sceoIcon-lab:before
  content: "\e9aa"

.sceoIcon-magnet:before
  content: "\e9ab"

.sceoIcon-bin:before
  content: "\e9ac"

.sceoIcon-bin2:before
  content: "\e9ad"

.sceoIcon-briefcase:before
  content: "\e9ae"

.sceoIcon-airplane:before
  content: "\e9af"

.sceoIcon-truck:before
  content: "\e9b0"

.sceoIcon-road:before
  content: "\e9b1"

.sceoIcon-accessibility:before
  content: "\e9b2"

.sceoIcon-target:before
  content: "\e9b3"

.sceoIcon-shield:before
  content: "\e9b4"

.sceoIcon-power:before
  content: "\e9b5"

.sceoIcon-switch:before
  content: "\e9b6"

.sceoIcon-power-cord:before
  content: "\e9b7"

.sceoIcon-clipboard:before
  content: "\e9b8"

.sceoIcon-list-numbered:before
  content: "\e9b9"

.sceoIcon-list:before
  content: "\e9ba"

.sceoIcon-list2:before
  content: "\e9bb"

.sceoIcon-tree:before
  content: "\e9bc"

.sceoIcon-menu:before
  content: "\e9bd"

.sceoIcon-menu2:before
  content: "\e9be"

.sceoIcon-menu3:before
  content: "\e9bf"

.sceoIcon-menu4:before
  content: "\e9c0"

.sceoIcon-cloud:before
  content: "\e9c1"

.sceoIcon-cloud-download:before
  content: "\e9c2"

.sceoIcon-cloud-upload:before
  content: "\e9c3"

.sceoIcon-cloud-check:before
  content: "\e9c4"

.sceoIcon-download2:before
  content: "\e9c5"

.sceoIcon-upload2:before
  content: "\e9c6"

.sceoIcon-download3:before
  content: "\e9c7"

.sceoIcon-upload3:before
  content: "\e9c8"

.sceoIcon-sphere:before
  content: "\e9c9"

.sceoIcon-earth:before
  content: "\e9ca"

.sceoIcon-link:before
  content: "\e9cb"

.sceoIcon-flag:before
  content: "\e9cc"

.sceoIcon-attachment:before
  content: "\e9cd"

.sceoIcon-eye:before
  content: "\e9ce"

.sceoIcon-eye-plus:before
  content: "\e9cf"

.sceoIcon-eye-minus:before
  content: "\e9d0"

.sceoIcon-eye-blocked:before
  content: "\e9d1"

.sceoIcon-bookmark:before
  content: "\e9d2"

.sceoIcon-bookmarks:before
  content: "\e9d3"

.sceoIcon-sun:before
  content: "\e9d4"

.sceoIcon-contrast:before
  content: "\e9d5"

.sceoIcon-brightness-contrast:before
  content: "\e9d6"

.sceoIcon-star-empty:before
  content: "\e9d7"

.sceoIcon-star-half:before
  content: "\e9d8"

.sceoIcon-star-full:before
  content: "\e9d9"

.sceoIcon-heart:before
  content: "\e9da"

.sceoIcon-heart-broken:before
  content: "\e9db"

.sceoIcon-man:before
  content: "\e9dc"

.sceoIcon-woman:before
  content: "\e9dd"

.sceoIcon-man-woman:before
  content: "\e9de"

.sceoIcon-happy:before
  content: "\e9df"

.sceoIcon-happy2:before
  content: "\e9e0"

.sceoIcon-smile:before
  content: "\e9e1"

.sceoIcon-smile2:before
  content: "\e9e2"

.sceoIcon-tongue:before
  content: "\e9e3"

.sceoIcon-tongue2:before
  content: "\e9e4"

.sceoIcon-sad:before
  content: "\e9e5"

.sceoIcon-sad2:before
  content: "\e9e6"

.sceoIcon-wink:before
  content: "\e9e7"

.sceoIcon-wink2:before
  content: "\e9e8"

.sceoIcon-grin:before
  content: "\e9e9"

.sceoIcon-grin2:before
  content: "\e9ea"

.sceoIcon-cool:before
  content: "\e9eb"

.sceoIcon-cool2:before
  content: "\e9ec"

.sceoIcon-angry:before
  content: "\e9ed"

.sceoIcon-angry2:before
  content: "\e9ee"

.sceoIcon-evil:before
  content: "\e9ef"

.sceoIcon-evil2:before
  content: "\e9f0"

.sceoIcon-shocked:before
  content: "\e9f1"

.sceoIcon-shocked2:before
  content: "\e9f2"

.sceoIcon-baffled:before
  content: "\e9f3"

.sceoIcon-baffled2:before
  content: "\e9f4"

.sceoIcon-confused:before
  content: "\e9f5"

.sceoIcon-confused2:before
  content: "\e9f6"

.sceoIcon-neutral:before
  content: "\e9f7"

.sceoIcon-neutral2:before
  content: "\e9f8"

.sceoIcon-hipster:before
  content: "\e9f9"

.sceoIcon-hipster2:before
  content: "\e9fa"

.sceoIcon-wondering:before
  content: "\e9fb"

.sceoIcon-wondering2:before
  content: "\e9fc"

.sceoIcon-sleepy:before
  content: "\e9fd"

.sceoIcon-sleepy2:before
  content: "\e9fe"

.sceoIcon-frustrated:before
  content: "\e9ff"

.sceoIcon-frustrated2:before
  content: "\ea00"

.sceoIcon-crying:before
  content: "\ea01"

.sceoIcon-crying2:before
  content: "\ea02"

.sceoIcon-point-up:before
  content: "\ea03"

.sceoIcon-point-right:before
  content: "\ea04"

.sceoIcon-point-down:before
  content: "\ea05"

.sceoIcon-point-left:before
  content: "\ea06"

.sceoIcon-warning:before
  content: "\ea07"

.sceoIcon-notification:before
  content: "\ea08"

.sceoIcon-question:before
  content: "\ea09"

.sceoIcon-plus:before
  content: "\ea0a"

.sceoIcon-minus:before
  content: "\ea0b"

.sceoIcon-info:before
  content: "\ea0c"

.sceoIcon-cancel-circle:before
  content: "\ea0d"

.sceoIcon-blocked:before
  content: "\ea0e"

.sceoIcon-cross:before
  content: "\ea0f"

.sceoIcon-checkmark:before
  content: "\ea10"

.sceoIcon-checkmark2:before
  content: "\ea11"

.sceoIcon-spell-check:before
  content: "\ea12"

.sceoIcon-enter:before
  content: "\ea13"

.sceoIcon-exit:before
  content: "\ea14"

.sceoIcon-play2:before
  content: "\ea15"

.sceoIcon-pause:before
  content: "\ea16"

.sceoIcon-stop:before
  content: "\ea17"

.sceoIcon-previous:before
  content: "\ea18"

.sceoIcon-next:before
  content: "\ea19"

.sceoIcon-backward:before
  content: "\ea1a"

.sceoIcon-forward2:before
  content: "\ea1b"

.sceoIcon-play3:before
  content: "\ea1c"

.sceoIcon-pause2:before
  content: "\ea1d"

.sceoIcon-stop2:before
  content: "\ea1e"

.sceoIcon-backward2:before
  content: "\ea1f"

.sceoIcon-forward3:before
  content: "\ea20"

.sceoIcon-first:before
  content: "\ea21"

.sceoIcon-last:before
  content: "\ea22"

.sceoIcon-previous2:before
  content: "\ea23"

.sceoIcon-next2:before
  content: "\ea24"

.sceoIcon-eject:before
  content: "\ea25"

.sceoIcon-volume-high:before
  content: "\ea26"

.sceoIcon-volume-medium:before
  content: "\ea27"

.sceoIcon-volume-low:before
  content: "\ea28"

.sceoIcon-volume-mute:before
  content: "\ea29"

.sceoIcon-volume-mute2:before
  content: "\ea2a"

.sceoIcon-volume-increase:before
  content: "\ea2b"

.sceoIcon-volume-decrease:before
  content: "\ea2c"

.sceoIcon-loop:before
  content: "\ea2d"

.sceoIcon-loop2:before
  content: "\ea2e"

.sceoIcon-infinite:before
  content: "\ea2f"

.sceoIcon-shuffle:before
  content: "\ea30"

.sceoIcon-arrow-up-left:before
  content: "\ea31"

.sceoIcon-arrow-up:before
  content: "\ea32"

.sceoIcon-arrow-up-right:before
  content: "\ea33"

.sceoIcon-arrow-right:before
  content: "\ea34"

.sceoIcon-arrow-down-right:before
  content: "\ea35"

.sceoIcon-arrow-down:before
  content: "\ea36"

.sceoIcon-arrow-down-left:before
  content: "\ea37"

.sceoIcon-arrow-left:before
  content: "\ea38"

.sceoIcon-arrow-up-left2:before
  content: "\ea39"

.sceoIcon-arrow-up2:before
  content: "\ea3a"

.sceoIcon-arrow-up-right2:before
  content: "\ea3b"

.sceoIcon-arrow-right2:before
  content: "\ea3c"

.sceoIcon-arrow-down-right2:before
  content: "\ea3d"

.sceoIcon-arrow-down2:before
  content: "\ea3e"

.sceoIcon-arrow-down-left2:before
  content: "\ea3f"

.sceoIcon-arrow-left2:before
  content: "\ea40"

.sceoIcon-circle-up:before
  content: "\ea41"

.sceoIcon-circle-right:before
  content: "\ea42"

.sceoIcon-circle-down:before
  content: "\ea43"

.sceoIcon-circle-left:before
  content: "\ea44"

.sceoIcon-tab:before
  content: "\ea45"

.sceoIcon-move-up:before
  content: "\ea46"

.sceoIcon-move-down:before
  content: "\ea47"

.sceoIcon-sort-alpha-asc:before
  content: "\ea48"

.sceoIcon-sort-alpha-desc:before
  content: "\ea49"

.sceoIcon-sort-numeric-asc:before
  content: "\ea4a"

.sceoIcon-sort-numberic-desc:before
  content: "\ea4b"

.sceoIcon-sort-amount-asc:before
  content: "\ea4c"

.sceoIcon-sort-amount-desc:before
  content: "\ea4d"

.sceoIcon-command:before
  content: "\ea4e"

.sceoIcon-shift:before
  content: "\ea4f"

.sceoIcon-ctrl:before
  content: "\ea50"

.sceoIcon-opt:before
  content: "\ea51"

.sceoIcon-checkbox-checked:before
  content: "\ea52"

.sceoIcon-checkbox-unchecked:before
  content: "\ea53"

.sceoIcon-radio-checked:before
  content: "\ea54"

.sceoIcon-radio-checked2:before
  content: "\ea55"

.sceoIcon-radio-unchecked:before
  content: "\ea56"

.sceoIcon-crop:before
  content: "\ea57"

.sceoIcon-make-group:before
  content: "\ea58"

.sceoIcon-ungroup:before
  content: "\ea59"

.sceoIcon-scissors:before
  content: "\ea5a"

.sceoIcon-filter:before
  content: "\ea5b"

.sceoIcon-font:before
  content: "\ea5c"

.sceoIcon-ligature:before
  content: "\ea5d"

.sceoIcon-ligature2:before
  content: "\ea5e"

.sceoIcon-text-height:before
  content: "\ea5f"

.sceoIcon-text-width:before
  content: "\ea60"

.sceoIcon-font-size:before
  content: "\ea61"

.sceoIcon-bold:before
  content: "\ea62"

.sceoIcon-underline:before
  content: "\ea63"

.sceoIcon-italic:before
  content: "\ea64"

.sceoIcon-strikethrough:before
  content: "\ea65"

.sceoIcon-omega:before
  content: "\ea66"

.sceoIcon-sigma:before
  content: "\ea67"

.sceoIcon-page-break:before
  content: "\ea68"

.sceoIcon-superscript:before
  content: "\ea69"

.sceoIcon-subscript:before
  content: "\ea6a"

.sceoIcon-superscript2:before
  content: "\ea6b"

.sceoIcon-subscript2:before
  content: "\ea6c"

.sceoIcon-text-color:before
  content: "\ea6d"

.sceoIcon-pagebreak:before
  content: "\ea6e"

.sceoIcon-clear-formatting:before
  content: "\ea6f"

.sceoIcon-table:before
  content: "\ea70"

.sceoIcon-table2:before
  content: "\ea71"

.sceoIcon-insert-template:before
  content: "\ea72"

.sceoIcon-pilcrow:before
  content: "\ea73"

.sceoIcon-ltr:before
  content: "\ea74"

.sceoIcon-rtl:before
  content: "\ea75"

.sceoIcon-section:before
  content: "\ea76"

.sceoIcon-paragraph-left:before
  content: "\ea77"

.sceoIcon-paragraph-center:before
  content: "\ea78"

.sceoIcon-paragraph-right:before
  content: "\ea79"

.sceoIcon-paragraph-justify:before
  content: "\ea7a"

.sceoIcon-indent-increase:before
  content: "\ea7b"

.sceoIcon-indent-decrease:before
  content: "\ea7c"

.sceoIcon-share:before
  content: "\ea7d"

.sceoIcon-new-tab:before
  content: "\ea7e"

.sceoIcon-embed:before
  content: "\ea7f"

.sceoIcon-embed2:before
  content: "\ea80"

.sceoIcon-terminal:before
  content: "\ea81"

.sceoIcon-share2:before
  content: "\ea82"

.sceoIcon-mail:before
  content: "\ea83"

.sceoIcon-mail2:before
  content: "\ea84"

.sceoIcon-mail3:before
  content: "\ea85"

.sceoIcon-mail4:before
  content: "\ea86"

.sceoIcon-amazon:before
  content: "\ea87"

.sceoIcon-google:before
  content: "\ea88"

.sceoIcon-google2:before
  content: "\ea89"

.sceoIcon-google3:before
  content: "\ea8a"

.sceoIcon-google-plus:before
  content: "\ea8b"

.sceoIcon-google-plus2:before
  content: "\ea8c"

.sceoIcon-google-plus3:before
  content: "\ea8d"

.sceoIcon-hangouts:before
  content: "\ea8e"

.sceoIcon-google-drive:before
  content: "\ea8f"

.sceoIcon-facebook:before
  content: "\ea90"

.sceoIcon-facebook2:before
  content: "\ea91"

.sceoIcon-instagram:before
  content: "\ea92"

.sceoIcon-whatsapp:before
  content: "\ea93"

.sceoIcon-spotify:before
  content: "\ea94"

.sceoIcon-telegram:before
  content: "\ea95"

.sceoIcon-twitter:before
  content: "\ea96"

.sceoIcon-vine:before
  content: "\ea97"

.sceoIcon-vk:before
  content: "\ea98"

.sceoIcon-renren:before
  content: "\ea99"

.sceoIcon-sina-weibo:before
  content: "\ea9a"

.sceoIcon-rss:before
  content: "\ea9b"

.sceoIcon-rss2:before
  content: "\ea9c"

.sceoIcon-youtube:before
  content: "\ea9d"

.sceoIcon-youtube2:before
  content: "\ea9e"

.sceoIcon-twitch:before
  content: "\ea9f"

.sceoIcon-vimeo:before
  content: "\eaa0"

.sceoIcon-vimeo2:before
  content: "\eaa1"

.sceoIcon-lanyrd:before
  content: "\eaa2"

.sceoIcon-flickr:before
  content: "\eaa3"

.sceoIcon-flickr2:before
  content: "\eaa4"

.sceoIcon-flickr3:before
  content: "\eaa5"

.sceoIcon-flickr4:before
  content: "\eaa6"

.sceoIcon-dribbble:before
  content: "\eaa7"

.sceoIcon-behance:before
  content: "\eaa8"

.sceoIcon-behance2:before
  content: "\eaa9"

.sceoIcon-deviantart:before
  content: "\eaaa"

.sceoIcon-500px:before
  content: "\eaab"

.sceoIcon-steam:before
  content: "\eaac"

.sceoIcon-steam2:before
  content: "\eaad"

.sceoIcon-dropbox:before
  content: "\eaae"

.sceoIcon-onedrive:before
  content: "\eaaf"

.sceoIcon-github:before
  content: "\eab0"

.sceoIcon-npm:before
  content: "\eab1"

.sceoIcon-basecamp:before
  content: "\eab2"

.sceoIcon-trello:before
  content: "\eab3"

.sceoIcon-wordpress:before
  content: "\eab4"

.sceoIcon-joomla:before
  content: "\eab5"

.sceoIcon-ello:before
  content: "\eab6"

.sceoIcon-blogger:before
  content: "\eab7"

.sceoIcon-blogger2:before
  content: "\eab8"

.sceoIcon-tumblr:before
  content: "\eab9"

.sceoIcon-tumblr2:before
  content: "\eaba"

.sceoIcon-yahoo:before
  content: "\eabb"

.sceoIcon-yahoo2:before
  content: "\eabc"

.sceoIcon-tux:before
  content: "\eabd"

.sceoIcon-appleinc:before
  content: "\eabe"

.sceoIcon-finder:before
  content: "\eabf"

.sceoIcon-android:before
  content: "\eac0"

.sceoIcon-windows:before
  content: "\eac1"

.sceoIcon-windows8:before
  content: "\eac2"

.sceoIcon-soundcloud:before
  content: "\eac3"

.sceoIcon-soundcloud2:before
  content: "\eac4"

.sceoIcon-skype:before
  content: "\eac5"

.sceoIcon-reddit:before
  content: "\eac6"

.sceoIcon-hackernews:before
  content: "\eac7"

.sceoIcon-wikipedia:before
  content: "\eac8"

.sceoIcon-linkedin:before
  content: "\eac9"

.sceoIcon-linkedin2:before
  content: "\eaca"

.sceoIcon-lastfm:before
  content: "\eacb"

.sceoIcon-lastfm2:before
  content: "\eacc"

.sceoIcon-delicious:before
  content: "\eacd"

.sceoIcon-stumbleupon:before
  content: "\eace"

.sceoIcon-stumbleupon2:before
  content: "\eacf"

.sceoIcon-stackoverflow:before
  content: "\ead0"

.sceoIcon-pinterest:before
  content: "\ead1"

.sceoIcon-pinterest2:before
  content: "\ead2"

.sceoIcon-xing:before
  content: "\ead3"

.sceoIcon-xing2:before
  content: "\ead4"

.sceoIcon-flattr:before
  content: "\ead5"

.sceoIcon-foursquare:before
  content: "\ead6"

.sceoIcon-yelp:before
  content: "\ead7"

.sceoIcon-paypal:before
  content: "\ead8"

.sceoIcon-chrome:before
  content: "\ead9"

.sceoIcon-firefox:before
  content: "\eada"

.sceoIcon-IE:before
  content: "\eadb"

.sceoIcon-edge:before
  content: "\eadc"

.sceoIcon-safari:before
  content: "\eadd"

.sceoIcon-opera:before
  content: "\eade"

.sceoIcon-file-pdf:before
  content: "\eadf"

.sceoIcon-file-openoffice:before
  content: "\eae0"

.sceoIcon-file-word:before
  content: "\eae1"

.sceoIcon-file-excel:before
  content: "\eae2"

.sceoIcon-libreoffice:before
  content: "\eae3"

.sceoIcon-html-five:before
  content: "\eae4"

.sceoIcon-html-five2:before
  content: "\eae5"

.sceoIcon-css3:before
  content: "\eae6"

.sceoIcon-git:before
  content: "\eae7"

.sceoIcon-codepen:before
  content: "\eae8"

.sceoIcon-svg:before
  content: "\eae9"

.sceoIcon-IcoMoon:before
  content: "\eaea"

